{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.11"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "jest-hoist",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "sourceMaps": "inline"
}
